attr==0.3.2
comtypes==1.4.10
ConfigParser==7.2.0
cryptography==45.0.2
docutils==0.21.2
filelock==3.18.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
librosa==0.11.0
mediapipe==0.10.21
numpy==2.2.6
opencv_contrib_python==4.11.0.86
Pillow==11.2.1
protobuf==6.31.0
pycaw==20240210
pydub==0.25.1
pygetwindow==0.0.9
pyOpenSSL==25.1.0
pytest==8.3.5
redis==5.2.1
simpleaudio==1.0.4
sounddevice==0.5.1
soundfile==0.13.1
Sphinx==8.2.3
tensorflow==2.19.0
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
