# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/project settings
.vscode/
.idea/

# Ignore large or raw audio/media
src/audio/*.mp3


